<div class="text-center">
        <div class='d-flex justify-content-center'>
          <div class='bg-primary w-50 rounded-4 pt-1'>
            <h2 class='text-center text-light'>Welcome to KinoStars!</h2>
            <br/>
            <div class='text-center'>
              <img class='w-75' src="images/camera.png" alt=""/>
            </div>
            <br/>
            <p class='text-center text-light'>Review things, give them a star rating, and watch your collection grow! <br/> Click Reviews to get started! <br/> Coded by Ben Jackson in September 2024.</p>
          </div>
        </div>
</div>
